		{
			"accessory": "Http",
			"name": "Wort detektorfm",
			"switchHandling": "yes",
			"http_method": "GET",
			"on_url": "http://radio.local/radio.php?name=1",
			"off_url": "http://radio.local/ruhe.php",
			"status_url": "http://radio.local/status/detektorfmWort.txt",
			"status_on": "ON",
			"status_off": "OFF",
			"service": "Switch",
			"brightnessHandling": "no"
		},
		{
			"accessory": "Http",
			"name": "Musik detektorfm",
			"switchHandling": "yes",
			"http_method": "GET",
			"on_url": "http://radio.local/radio.php?name=2",
			"off_url": "http://radio.local/ruhe.php",
			"status_url": "http://radio.local/status/detektorfmMusik.txt",
			"status_on": "ON",
			"status_off": "OFF",
			"service": "Switch",
			"brightnessHandling": "no"
		}
